:root {
  --color-dark: #1B1911;
  --color-light: #F2EFE6;
  --color-accent: #DC3F06;

  --border-thin: 1px solid var(--color-accent);
  --border-wide: 2px solid var(--color-accent);
  --border-radius: 20px;
  --border-radius-small: 6px;

  --container-width: 1250px;

}